@tailwind base;
@tailwind components;
@tailwind utilities;
/* .stock{
  font-size: 1rem;
  font-weight: bold;
  width: 30vw;
  display: flex;
  justify-content: space-between;
  padding: 2vh 3vw;
  align-items: center;
} */
.hidden{
  display: none;
}
.hideme{
  display: none;
}
body{
  height: 100%;
  background: #2b2b2b;
 
}
input{
  color:rgba(214, 199, 199, 0.934);
  background:rgb(61, 59, 59);
  outline: none;
  border: none;
}
.todo-edit-task-input{
  background: #4B5D67;
  color: white;
}
.todo-add-task-input {
  color:rgba(214, 199, 199, 0.934);
  background:rgb(61, 59, 59);
  outline: none;
  border: none;
}

.todo-add-task-input:focus{
  outline: none;
  border: none;
}
.todo-update-task{
  background: #FFE300;
}
.todo-update-task:hover{
  filter: brightness(1.3);
}
.todo-add-task {
  background:rgb(207, 85, 218);
}

.todo-add-task:hover{
  filter: brightness(1.4);
}

.todo-task {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-row{
  color: #fff;
  /* background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  ); */


}
/* .todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
} */

/* .todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
} */

/* .todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  ); */
/* } */
.stocks{
width: 30vw;
}
.stockCont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.stockCont h2{
  color: white;
  font-size: 3rem;
}
.form{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form input{
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.7rem;
}
.form input:focus{
  box-shadow: 0rem 0.7rem 1rem black;
}
.form button{
  margin-top: 2rem;
  background: linear-gradient(90deg, #FFE300,#f0d611);
  padding: 0.6rem;
  color: white;
  border-radius: 0.6rem;
}
.form button:hover{
filter: brightness(1.1);
}
#form{
  display: flex;
  flex-direction: column;
  width: 30vw;
}
@media(max-width:900px){
.stocks{
  width: 70vw;
}
#form{
  width: 70vw;
}
}